.App {
  justify-content: center;
  align-items: center;
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f3f3f3;
  height: 100%;
  gap: 3px;
}

.App-body-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.Container{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container-img{
  width: 60vw;
  height: 80vh;
}

.Container-login{
  width: 35vw;
  height: 80vh;
}

.App-footer{
  background-color: #282c34;
  color: white;
  min-height: 5vh;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center;
}

.App-footer ul{
  display: flex;
  list-style-type: none; /* Quita los puntos de las listas */
  padding: 0; /* Elimina el padding predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  justify-content: center;
}

.App-footer ul li {
  margin-left: 15vh; /* Añade espacio entre los elementos */
}
